In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_csv('creditCardFraud_28011964_120214.csv')

In [3]:
data.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
1,50000,1,1,2,37,0,0,0,0,0,...,19394,19619,20024,2500,1815,657,1000,1000,800,0
2,500000,1,1,2,29,0,0,0,0,0,...,542653,483003,473944,55000,40000,38000,20239,13750,13770,0
3,100000,2,2,2,23,0,-1,-1,0,0,...,221,-159,567,380,601,0,581,1687,1542,0
4,140000,2,3,1,28,0,0,2,0,0,...,12211,11793,3719,3329,0,432,1000,1000,1000,0

In [4]:
data.shape

(1001, 24)

In [5]:
data.isna().sum()

LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LIMIT_BAL                   1001 non-null   int64
 1   SEX                         1001 non-null   int64
 2   EDUCATION                   1001 non-null   int64
 3   MARRIAGE                    1001 non-null   int64
 4   AGE                         1001 non-null   int64
 5   PAY_0                       1001 non-null   int64
 6   PAY_2                       1001 non-null   int64
 7   PAY_3                       1001 non-null   int64
 8   PAY_4                       1001 non-null   int64
 9   PAY_5                       1001 non-null   int64
 10  PAY_6                       1001 non-null   int64
 11  BILL_AMT1                   1001 non-null   int64
 12  BILL_AMT2                   1001 non-null   int64
 13  BILL_AMT3                   1001 non-null   int64
 14  BILL_AMT4                   1001 non-null   int64
 15  BILL_AMT5                   1001 non-null   int64
 16  BILL_AMT6                   1001 non-null   int64
 17  PAY_AMT1                    1001 non-null   int64
 18  PAY_AMT2                    1001 non-null   int64
 19  PAY_AMT3                    1001 non-null   int64
 20  PAY_AMT4                    1001 non-null   int64
 21  PAY_AMT5                    1001 non-null   int64
 22  PAY_AMT6                    1001 non-null   int64
 23  default payment next month  1001 non-null   int64
dtypes: int64(24)
memory usage: 187.8 KB

In [ ]:
sns.pairplot(data)

From the pair-plot above, we can see that there is some relationship between the feature columns.
To confirm that we’d plot a correlation heatmap.

In [ ]:
plt.figure(figsize=(13,8))
sns.heatmap(data.corr(), annot=True )

From the correlation heatmap above, it can be seen that there are some relationships between the feature columns, they are not entirely independent. 

But in this scenario, there is a correlation because a customer who was not able to pay the bill for 1 month was again not able to pay it for the subsequent months and hence the correlation.

Again for the bill amount column, the same has happened. If the customer was not able to pay the bill, then the bill amount almost remained the same, or if the customer was able to pay then the bill amount got reduced.

We remove columns when they convey the same information. But here, dropping the columns shall result in the loss of bill and payment history data. So, we don’t need to drop any column although there is a correlation.

In [7]:
x=data.drop(labels=['default payment next month'],axis=1)
y=data['default payment next month']

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [9]:
from sklearn.preprocessing import StandardScaler
train_scaler=StandardScaler()
test_scaler=StandardScaler()

In [10]:
scaled_train_data=train_scaler.fit_transform(x_train)
scaled_test_data=test_scaler.fit_transform(x_test)

In [11]:
scaled_train_df=pd.DataFrame(data=scaled_train_data, columns=x_train.columns, index=x_train.index)

In [12]:
scaled_test_df=pd.DataFrame(data=scaled_test_data, columns=x_test.columns, index=x_test.index)

In [13]:
scaled_train_df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
311,-0.827063,-1.187465,0.287024,0.730441,-1.282089,-0.031171,0.115654,0.105611,0.225653,0.220334,...,-0.176369,-0.360048,-0.340346,-0.309805,-0.305588,-0.184075,-0.348399,-0.294666,-0.195700,-0.177211
765,0.239455,0.842130,-1.030140,-1.151849,0.006733,-1.701941,-1.465732,-1.466817,-1.463595,-1.476489,...,-0.630462,-0.569559,-0.612888,-0.614997,-0.103300,-0.202343,-0.165886,-0.364653,-0.306803,-0.203779
630,-0.446164,-1.187465,1.604187,-1.151849,2.262170,-0.031171,0.115654,0.105611,0.225653,0.220334,...,-0.176218,-0.173591,-0.266578,-0.244778,-0.119159,-0.215453,-0.279526,-0.176838,-0.129149,0.010829
0,-0.903243,-1.187465,0.287024,-1.151849,2.369572,-0.866556,0.115654,-0.680603,0.225653,0.220334,...,-0.155442,-0.308208,-0.319868,-0.313196,-0.302945,1.718397,0.574694,0.413945,-0.268528,-0.174494
316,-0.446164,-1.187465,0.287024,0.730441,-0.637678,0.804214,1.697039,1.678039,0.225653,0.220334,...,0.065414,0.083910,0.119615,0.141737,-0.258893,-0.293788,-0.212424,-0.191632,-0.203810,-0.117521

In [14]:
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()

In [15]:
pred_y=gnb.fit(scaled_train_df,y_train).predict(scaled_test_df)

In [16]:
from sklearn.metrics import accuracy_score

In [17]:
ac=accuracy_score(y_test, pred_y)
ac

0.676737160120846

In [18]:
from sklearn.model_selection import GridSearchCV

In [19]:
param_grid = {"var_smoothing": [1e-9,0.1, 0.001, 0.5,0.05,0.01,1e-8,1e-7,1e-6,1e-10,1e-11]}
#Creating an object of the Grid Search class
grid = GridSearchCV(estimator=gnb, param_grid=param_grid, cv=5,  verbose=3)

In [47]:

#finding the best parameters
grid.fit(scaled_train_data, y_train)

Fitting 5 folds for each of 11 candidates, totalling 55 fits
[CV] var_smoothing=1e-09 .............................................
[CV] ................. var_smoothing=1e-09, score=0.579, total=   0.0s
[CV] var_smoothing=1e-09 .............................................
[CV] ................. var_smoothing=1e-09, score=0.662, total=   0.0s
[CV] var_smoothing=1e-09 .............................................
[CV] ................. var_smoothing=1e-09, score=0.714, total=   0.0s
[CV] var_smoothing=1e-09 .............................................
[CV] ................. var_smoothing=1e-09, score=0.648, total=   0.0s
[CV] var_smoothing=1e-09 .............................................
[CV] ................. var_smoothing=1e-09, score=0.689, total=   0.0s
[CV] var_smoothing=0.1 ...............................................
[CV] ................... var_smoothing=0.1, score=0.667, total=   0.0s
[CV] var_smoothing=0.1 ...............................................
[CV] ................... var_smoothing=0.1, score=0.740, total=   0.0s
[CV] var_smoothing=0.1 ...............................................
[CV] ................... var_smoothing=0.1, score=0.768, total=   0.0s
[CV] var_smoothing=0.1 ...............................................
[CV] ................... var_smoothing=0.1, score=0.739, total=   0.0s
[CV] var_smoothing=0.1 ...............................................
[CV] ................... var_smoothing=0.1, score=0.754, total=   0.0s
[CV] var_smoothing=0.001 .............................................
[CV] ................. var_smoothing=0.001, score=0.579, total=   0.0s
[CV] var_smoothing=0.001 .............................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s

[CV] ................. var_smoothing=0.001, score=0.663, total=   0.0s
[CV] var_smoothing=0.001 .............................................
[CV] ................. var_smoothing=0.001, score=0.714, total=   0.0s
[CV] var_smoothing=0.001 .............................................
[CV] ................. var_smoothing=0.001, score=0.649, total=   0.0s
[CV] var_smoothing=0.001 .............................................
[CV] ................. var_smoothing=0.001, score=0.690, total=   0.0s
[CV] var_smoothing=0.5 ...............................................
[CV] ................... var_smoothing=0.5, score=0.783, total=   0.0s
[CV] var_smoothing=0.5 ...............................................
[CV] ................... var_smoothing=0.5, score=0.783, total=   0.0s
[CV] var_smoothing=0.5 ...............................................
[CV] ................... var_smoothing=0.5, score=0.795, total=   0.0s
[CV] var_smoothing=0.5 ...............................................
[CV] ................... var_smoothing=0.5, score=0.783, total=   0.0s
[CV] var_smoothing=0.5 ...............................................
[CV] ................... var_smoothing=0.5, score=0.780, total=   0.0s
[CV] var_smoothing=0.05 ..............................................
[CV] .................. var_smoothing=0.05, score=0.624, total=   0.0s
[CV] var_smoothing=0.05 ..............................................
[CV] .................. var_smoothing=0.05, score=0.709, total=   0.0s
[CV] var_smoothing=0.05 ..............................................
[CV] .................. var_smoothing=0.05, score=0.748, total=   0.0s
[CV] var_smoothing=0.05 ..............................................
[CV] .................. var_smoothing=0.05, score=0.700, total=   0.0s
[CV] var_smoothing=0.05 ..............................................
[CV] .................. var_smoothing=0.05, score=0.733, total=   0.0s
[CV] var_smoothing=0.01 ..............................................
[CV] .................. var_smoothing=0.01, score=0.586, total=   0.0s
[CV] var_smoothing=0.01 ..............................................
[CV] .................. var_smoothing=0.01, score=0.672, total=   0.0s
[CV] var_smoothing=0.01 ..............................................
[CV] .................. var_smoothing=0.01, score=0.722, total=   0.0s
[CV] var_smoothing=0.01 ..............................................
[CV] .................. var_smoothing=0.01, score=0.656, total=   0.0s
[CV] var_smoothing=0.01 ..............................................
[CV] .................. var_smoothing=0.01, score=0.697, total=   0.0s
[CV] var_smoothing=1e-08 .............................................
[CV] ................. var_smoothing=1e-08, score=0.579, total=   0.0s
[CV] var_smoothing=1e-08 .............................................
[CV] ................. var_smoothing=1e-08, score=0.662, total=   0.0s
[CV] var_smoothing=1e-08 .............................................
[CV] ................. var_smoothing=1e-08, score=0.714, total=   0.0s
[CV] var_smoothing=1e-08 .............................................
[CV] ................. var_smoothing=1e-08, score=0.648, total=   0.0s
[CV] var_smoothing=1e-08 .............................................
[CV] ................. var_smoothing=1e-08, score=0.689, total=   0.0s
[CV] var_smoothing=1e-07 .............................................
[CV] ................. var_smoothing=1e-07, score=0.579, total=   0.0s
[CV] var_smoothing=1e-07 .............................................
[CV] ................. var_smoothing=1e-07, score=0.662, total=   0.0s
[CV] var_smoothing=1e-07 .............................................
[CV] ................. var_smoothing=1e-07, score=0.714, total=   0.0s
[CV] var_smoothing=1e-07 .............................................
[CV] ................. var_smoothing=1e-07, score=0.648, total=   0.0s
[CV] var_smoothing=1e-07 .............................................
[CV] ................. var_smoothing=1e-07, score=0.689, total=   0.0s
[CV] var_smoothing=1e-06 .............................................
[CV] ................. var_smoothing=1e-06, score=0.579, total=   0.0s
[CV] var_smoothing=1e-06 .............................................
[CV] ................. var_smoothing=1e-06, score=0.662, total=   0.0s
[CV] var_smoothing=1e-06 .............................................
[CV] ................. var_smoothing=1e-06, score=0.714, total=   0.0s
[CV] var_smoothing=1e-06 .............................................
[CV] ................. var_smoothing=1e-06, score=0.648, total=   0.0s
[CV] var_smoothing=1e-06 .............................................
[CV] ................. var_smoothing=1e-06, score=0.689, total=   0.0s
[CV] var_smoothing=1e-10 .............................................
[CV] ................. var_smoothing=1e-10, score=0.579, total=   0.0s
[CV] var_smoothing=1e-10 .............................................
[CV] ................. var_smoothing=1e-10, score=0.662, total=   0.0s
[CV] var_smoothing=1e-10 .............................................
[CV] ................. var_smoothing=1e-10, score=0.714, total=   0.0s
[CV] var_smoothing=1e-10 .............................................
[CV] ................. var_smoothing=1e-10, score=0.648, total=   0.0s
[CV] var_smoothing=1e-10 .............................................
[CV] ................. var_smoothing=1e-10, score=0.689, total=   0.0s
[CV] var_smoothing=1e-11 .............................................
[CV] ................. var_smoothing=1e-11, score=0.579, total=   0.0s
[CV] var_smoothing=1e-11 .............................................
[CV] ................. var_smoothing=1e-11, score=0.662, total=   0.0s
[CV] var_smoothing=1e-11 .............................................
[CV] ................. var_smoothing=1e-11, score=0.714, total=   0.0s
[CV] var_smoothing=1e-11 .............................................
[CV] ................. var_smoothing=1e-11, score=0.648, total=   0.0s
[CV] var_smoothing=1e-11 .............................................
[CV] ................. var_smoothing=1e-11, score=0.689, total=   0.0s

[Parallel(n_jobs=1)]: Done  55 out of  55 | elapsed:    0.8s finished

GridSearchCV(cv=5, error_score=nan,
             estimator=GaussianNB(priors=None, var_smoothing=1e-09),
             iid='deprecated', n_jobs=None,
             param_grid={'var_smoothing': [1e-09, 0.1, 0.001, 0.5, 0.05, 0.01,
                                           1e-08, 1e-07, 1e-06, 1e-10, 1e-11]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [20]:
grid.best_estimator_

AttributeError: 'GridSearchCV' object has no attribute 'best_estimator_'

In [21]:
gnb_new=GaussianNB(var_smoothing=0.5)
pred_y_new=gnb_new.fit(scaled_train_df,y_train).predict(scaled_test_df)

In [22]:
ac_new=accuracy_score(y_test,pred_y_new)
ac_new

0.797583081570997

In [24]:
from xgboost import XGBClassifier

ModuleNotFoundError: No module named 'xgboost'

In [23]:
param_grid_xgboost = {

                "n_estimators": [50,100, 130],
                               "max_depth": range(3, 11, 1),
    "random_state":[0,50,100]
    

            }

# Creating an object of the Grid Search class
grid= GridSearchCV(XGBClassifier(objective='binary:logistic'),param_grid_xgboost, verbose=3,cv=5,n_jobs=-1)

NameError: name 'XGBClassifier' is not defined

In [69]:
grid.fit(scaled_train_df,y_train)

Fitting 5 folds for each of 192 candidates, totalling 960 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   12.5s
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:  2.6min
[Parallel(n_jobs=-1)]: Done 504 tasks      | elapsed:  6.3min
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed: 12.1min
[Parallel(n_jobs=-1)]: Done 960 out of 960 | elapsed: 17.4min finished

GridSearchCV(cv=5, error_score=nan,
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.1, max_delta_step=0,
                                     max_depth=3, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=None, silent=None,
                                     subsample=1, verbosity=1),
             iid='deprecated', n_jobs=-1,
             param_grid={'max_depth': range(3, 11),
                         'n_estimators': [50, 100, 130, 200],
                         'random_state': [0, 50, 100, 250, 355, 500]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [70]:
grid.best_estimator_

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=50, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [64]:
xgb_new=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=50, n_jobs=-1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [71]:
pred_y_xgb_new=xgb_new.fit(scaled_train_df,y_train).predict(scaled_test_df)

In [72]:
ac_xgb_new=accuracy_score(y_test,pred_y_xgb_new)

In [73]:
ac_xgb_new

0.8203030303030303